<a href="https://colab.research.google.com/github/rilschultz/CS167Notes/blob/main/Day04_kNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS167: Day04 
## k-Nearest-Neighbor

#### CS167: Machine Learning, Spring 2023

Tuesday, February 7th, 2023

ðŸ“† [Course Schedule](https://docs.google.com/spreadsheets/d/e/2PACX-1vSvFV5Mz0_YZE1d5r3gQ8IMktE4cBAsJIlP30cl2GhEpSO0J-YWV62QokSDz-OcOCsEmxMuKpY0kVlR/pubhtml?gid=0&single=true) | ðŸ™‹[PollEverywhere](https://pollev.com/meredithmoore011) | ðŸ“œ [Syllabus](https://analytics.drake.edu/~moore/cs167_s23_syllabus.html) |  ðŸ“¬ [CodePost Login](https://codepost.io/login)

## Attendance Question

# Overview of This Week:

**Tuesday**: Notebook #1 questions, k-Nearest Neighbors, Notebook #2

**Thursday**: Missing Data Handling, Normalization

# Admin Stuff

You should be working on:
- Notebook #1, is due tonight by 11:59 pm. 
    - to submit, download the `ipynb` file from Colab, and directly upload to CodePost
- [Notebook #2: kNN and Normalization](https://classroom.github.com/a/d6K-Q-t8) is released today, due Tuesday 2/14 by 11:59pm. 
- Heads up that Quiz #1 will be released on Tuesday 2/14 after class and will be due Friday 2/17 by 11:59pm.

## Before we get started, let's load in our datasets:
Make sure you change the path to match your Google Drive. 
- Also, go ahead and download the `vehicles.csv` file from Blackboard and put it in your Google Drive.

In [1]:
#run this cell if you're using Colab:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
#import the data:
#make sure the path on the line below corresponds to the path where you put your dataset.
import pandas as pd
path1 = '/content/drive/MyDrive/datasets/titanic.csv'
titanic = pd.read_csv(path1) 

path2 = '/content/drive/MyDrive/datasets/irisData.csv'
iris= pd.read_csv(path2)
iris.head()

path3 = '/content/drive/MyDrive/datasets/vehicles.csv'
vehicles= pd.read_csv(path3)
vehicles.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

## ðŸš© Notebook #1 Help

A few helpful functions for Notebook #1:
- `max()` will return the maximum value in a Series
- `idxmax()` will return the __index__ of the maximum value

In [10]:
#find the deck of the passenger who was the oldest on the titanic
titanic.age.max()

80.0

In [18]:
ndx = titanic.age.idxmax()
print(ndx)
titanic.iloc[ndx].deck
#titanic.loc[titanic.total.idxmax()].deck

630

'A'

## Other functions worth mentioning:
- `min()` will return the minimum value in a Series
- `mode()` will return the mode--the most common value--of the dataset

In [19]:
titanic.age.min()

0.42

In [20]:
titanic.age.mode()

0    24.0
dtype: float64

## Pandas Exercises Solutions (Day03 Solutions)

# ðŸ’¬ Review Exercise:

Using the Titanic dataset, find how much the oldest passenger on the Titanic paid.

In [21]:
titanic.loc[ndx].fare

30.0

## Quick overview:
So far, we've talked about:
- Intro to ML
- Python review
- Introduction to Pandas

## Quick Simple Stats Review:

- __mean__: the average, take the sum of elements, and divide by the number of total elements
- __median__: The middle number; found by ordering all data poits and picking out the one in the middle (or if there are two numbers in the middle, taking the mean of those two numbers). 
- __mode__: The most frequent number; the number that occurs the highest number of times. 

### [2,2,3,3,4,4,4]
Find the:
- mean:
- median:
- mode:

## Machine Learning Variations

We are going to learn about a lot of different types of machine learning in CS167. Here are a few categories to look out for: 
- __classifcation__: identify which category it goes in. Examples: Spam or ham? Eric or Tim? Fish, amphibian, reptile, bird, or mammal
- __regression__: real-valued labels. Examples: price of Bitcoin, tomorrow's temperature, etc.
- __supervised learning__: data has labels, goal is to predict the labels of new instance. 
- __unsupervised learning__: data does not have a label, the goal is to analyze/cluster the examples. 
- __other issues__: missing data, sequential data, outlier anomaly detetion, and many more.

## PollEverywhere Q:

Let's take a look at a couple rows of the Iris Dataset:

In [22]:
iris.head(2)

   sepal length  sepal width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

## ðŸš¨ Terminology Alert ðŸš¨
Each row in the table represents a __training example__, a previously-seen, known instance of the thing we are trying to model. 

Each column in the table represents a __feature__, some attribute or variable that each training example has a value for. 

__Target variable__: the 'feature' we will try to predict(e.g. species)--it's value is unkonwn for any new cases not in the training data.

__Predictor variables__: (or just predictors), the features that will be used to make predictions of the target variable. (e.g. `sepal length`, `petal length`, `sepal width`, `petal width`

Remember this question from Day01?

- 5.1 cm petal, 7.2 cm sepal

<div>
<img src="https://github.com/merriekay/S23-CS167-Notes/blob/main/images/day0_iris_q1.png?raw=1"/>
</div>

# âœ¨New Material:

# Our First Machine Learning Model: k Nearest Neighbors
We're starting with a relatively simple, but foundational, machine learning model, the k-Nearest Neighbors (kNN) algorithm.

__k-Nearest-Neighbor Algorihm__: Predict the _most commonly appearing_ class among the __k__ closest training examples.

## 1-Nearest-Neighbor Algorithm

__k-Nearest-Neighbor Algorihm__: Precict the _most commonly appearing_ class among the __k__ closest training examples.
- in a 1-NN algorithm k=1

### What will a 1NN algorithm predict?


<div>
<img src="https://github.com/merriekay/S23-CS167-Notes/blob/main/images/day03_1NN_iris.png?raw=1" width=450/>
</div>

It will predict __Iris-versicolor__ because the nearest neighbor (shown by the black line) is Iris-versicolor.

## 3-Nearest-Neighbor Algorithm

> Wait... why did we skip 2-NN?

### What will a 3NN algorithm predict?

<div>
<img src="https://github.com/merriekay/S23-CS167-Notes/blob/main/images/day03_3NN_iris.png?raw=1" width=450/>
</div>

In a 3-Nearest Neighbor algorithm k=3. So, let's look at the 3 closest neighbor to our iris.
- The 3 closest neighbors are: `Iris-versicolor, Iris-virginica, Iris-virginica`
- a 3NN algorithm will predict the _most commonly appearing class_ among the k closest neighbors, so it will predict __Iris-virginica__.

## What do you mean by "closest"?
__k-Nearest-Neighbor Algorihm__: Precict the _most commonly appearing_ class among the __k__ closest training examples.

Alright... but how do we determine which training examples are the 'closest'?

__defining 'nearness':__ as the machine learning engineer, we get to choose how we define _close_. 
- What ways can you think of to determine a distane between any two training examples?

# Distances:

## Euclidean Distance:

Example in 2D space: distance between (x1, y1) and (x2, y2) is: 

## $\sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2}$

## 2D Eucliden Distance Example:
Find the distance between (1,2) and (4,6):

$\sqrt{(1 - 4)^2 + (2 - 6)^2}$

$\sqrt{(-3)^2 + (-4)^2}$

$\sqrt{9 + 16}$

$\sqrt{25}$

$5$

## Euclidean Distance in n-Dimensional Space:

Suppose features of an example $x$ are denoted $\langle a_1(x), a_2(x), ... , a_n(x) \rangle$
- where $n$ is the number of features.

Then the Euclidean Distance:

## $d(x_i, x_j) = \sqrt{ \sum_{r=1}^{n} (a_r(x_i) - a_r(x_j))^2}$

## $d(x_i, x_j) = \sqrt{ \sum_{r=1}^{n} (a_r(x_i) - a_r(x_j))^2}$

Example: Suppose we find a new iris with:
- 7.2 cm sepal length, 2.5 cm sepal width,
- 5.1 cm petal length and 1.5 cm petal width.

Here are some rows from the training data:

| sepal length | sepal width | petal length | petal width | species        |
|--------------|-------------|--------------|-------------|----------------|
| 4.6          | 3.2         | 1.4          | 0.2         | Iris-setosa    |
| 6.2          | 2.8         | 4.8          | 1.8         | Iris-virginica |

## Euclidean Distance Example:
<div>
<img src="https://github.com/merriekay/S23-CS167-Notes/blob/main/images/day03_euclidean_ex.png?raw=1"/>
</div>

## ðŸ’¬ Group Exercise:

Unknown Instance:
- 7.2 cm sepal length, 2.6 cm sepal width
- 5.1 cm petal length and 1.5 cm petal width.

If this was our entire set of training examples:

| sepal length | sepal width | petal length | petal width | species         |
|--------------|-------------|--------------|-------------|-----------------|
| 4.6          | 3.2         | 1.4          | 0.2         | Iris-setosa     |
| 6.2          | 2.8         | 4.8          | 1.8         | Iris-virginica  |
| 6.2          | 2.2         | 4.5          | 1.5         | Iris-versicolor |
| 6.3          | 2.7         | 4.9          | 1.8         | Iris-virginica  |

### What would the 1-NN version predict? 2-NN? 3-NN? 4-NN?

4.74, 
1.10, 
1.23, 
0.95,

## Distance Functions
You can use any distance function you want. Other common distances include:

### Manhattan Distance: 
### $d(x_i, x_j) = \sum_{r=1}^{n} | a_r(x_i) - a_r(x_j)|$

### Minkowski distance: 
### $d(x_i, x_j) = (\sum_{r=1}^{n} | a_r(x_i) - a_r(x_j)|^p)^{1/p}$

### Or you can make your own:
- Online dating use distance scores to predict who you will swipe left/right on
- Baseball similarity matrix
- etc.

# ðŸ’¬ Discussion Question:

What do we do if the features aren't numbers?
- like Titanic `embark_town`... how can we calculate a distance between `Southampton` and `Queenstown`?

In [23]:
titanic.embark_town.unique()

array(['Southampton', 'Cherbourg', 'Queenstown', nan], dtype=object)

In [24]:
pd.get_dummies(titanic.embark_town)

     Cherbourg  Queenstown  Southampton
0            0           0            1
1            1           0            0
2            0           0            1
3            0           0            1
4            0           0            1
..         ...         ...          ...
886          0           0            1
887          0           0            1
888          0           0            1
889          1           0            0
890          0           1            0

[891 rows x 3 columns]

# ðŸ’¬ Discussion Question:

What if our __target variable__ is continuous rather than categorical? How would we make a prediction using kNN? 
- Can we do regression with kNN? If so, how?

Examples of Regression problems:
- predict tomorrow's temperature
- predict the fuel efficiency of a vehicle
- predict how much someone will like a show on Netflix

In [ ]:
subset = vehicles[['year', 'cylinders', 'displ', 'comb08']]
subset.head()

   year  cylinders  displ  comb08
0  1985        4.0    2.0      21
1  1985       12.0    4.9      11
2  1985        4.0    2.2      27
3  1985        8.0    5.2      11
4  1993        4.0    2.2      19

In [ ]:
subset.comb08.sort_values().unique()

array([  7,   8,   9,  10,  11,  12,  13,  14,  15,  16,  17,  18,  19,
        20,  21,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,
        33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  46,
        47,  48,  49,  50,  52,  53,  54,  55,  56,  58,  62,  63,  65,
        68,  69,  72,  73,  74,  75,  76,  78,  79,  84,  85,  86,  87,
        89,  90,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 107, 108, 109, 111, 112, 113, 114, 115, 116, 118,
       119, 120, 121, 123, 124, 126, 130, 131, 133, 136, 141])

# Let's implement kNN in Python/Pandas: 

Let's build a 5-nearest-neighbor Iris classifier from scratch--using our Pandas/Python skills:

To implement this 5NN, we need to do 3 things:
1. Calculate the distances from each of the rows to the new instance
2. Sort the data by these distances 
3. Select the k closest training examples and use them to predict the most commonly occuring class of the closest neighbors.

## 1. Calculate the Distances:
Let's start by adding a new column to our `iris` dataframe that is the distance from each existing row to the new instance with:
- 5.1 petal length, 7.2 sepal length, 1.5 petal width, and 2.5 sepal width

The syntax for adding a new column is `df['new col name'] = ___________`

In [31]:
import numpy as np

iris['distance_to_new'] = np.sqrt(
    (5.1 - iris['petal length'])**2 
    +(7.2 - iris['sepal length'])**2 
    +(1.5 - iris['petal width'])**2
    +(2.5 - iris['sepal width'])**2)

iris

,sepal length,sepal width,petal length,petal width,species,distance_to_new
0,5.1,3.5,1.4,0.2,Iris-setosa,4.559605
1,4.9,3.0,1.4,0.2,Iris-setosa,4.573839
2,4.7,3.2,1.3,0.2,Iris-setosa,4.782259
3,4.6,3.1,1.5,0.2,Iris-setosa,4.665833
4,5.0,3.6,1.4,0.2,Iris-setosa,4.629255
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,1.072381
146,6.3,2.5,5.0,1.9,Iris-virginica,0.989949
147,6.5,3.0,5.2,2.0,Iris-virginica,1.000000
148,6.2,3.4,5.4,2.3,Iris-virginica,1.593738
149,5.9,3.0,5.1,1.8,Iris-virginica,1.424781

## 2. Sort the data by the distance
Let's now sort our data using the built in `sort_values()` function. [ [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html) ]

We want to find the nearest k neighbors, so sorting them in ascending order (which is the default setting for `sort_values()` will work nicely.

In [39]:
k = 15
sorted_data = iris.sort_values(['distance_to_new'])
sorted_data.head() #shortest distances first

,sepal length,sepal width,petal length,petal width,species,distance_to_new
76,6.8,2.8,4.8,1.4,Iris-versicolor,0.591608
52,6.9,3.1,4.9,1.5,Iris-versicolor,0.700000
77,6.7,3.0,5.0,1.7,Iris-versicolor,0.741620
50,7.0,3.2,4.7,1.4,Iris-versicolor,0.836660
129,7.2,3.0,5.8,1.6,Iris-virginica,0.866025

## 3. Display the most common species among these 5

In [38]:
sorted_data.iloc[0:10]['species'].mode()[0]

'Iris-versicolor'

And Viola! We have successfully implemented our first machine learning model from scratch.

## ðŸ’¬ Discussion Question

What part of the code would you change to use some other value of k in the kNN?

What would you change if you wanted to classify a different new Iris?

## Quick Function Refresher:

In [ ]:
# reminder of what a function looks like in Python: 

def find_min(a_list):
    smallest = float("inf")
    for element in a_list:
        if element < smallest:
            smallest=element
    return smallest

In [ ]:
find_min([2,5, -4, -54,14, 30])

-54

# Programming Exercise:

Rewrite our k-NN code so that it's a function.

Pass the iris measurements (specimen), dataframe, and k as parameters and return the predicted class.

Here's some starter code:

In [ ]:
def kNN(specimen, data, k):
    # write your code in here to make this function work
    # 1. calculate distances
    
    
    # 2. sort

    
    # 3. predict


    return prediction

In [ ]:
new_iris = {}
new_iris['petal length'] = 5.1
new_iris['sepal length'] = 7.2
new_iris['petal width'] = 1.5
new_iris['sepal width'] = 2.5

kNN(new_iris, iris, 15)

0    Iris-versicolor
dtype: object

# Admin Stuff

You should be working on:
- Notebook #1, is due tonight by 11:59 pm. 
    - to submit, download the `ipynb` file from Colab, and directly upload to CodePost
- [Notebook #2: kNN and Normalization](https://classroom.github.com/a/d6K-Q-t8) is released today, due Tuesday 2/14 by 11:59pm. 
- Heads up that Quiz #1 will be released on Tuesday 2/14 after class and will be due Friday 2/17 by 11:59pm.